$primary: #49ffad;

body {
  position: relative;
  padding-top: 3rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
a {
  color: darken($primary, 30);
  &:hover {
    color: darken($primary, 40);
    text-decoration: none;
    cursor: pointer;
  }
}

.navbar {
  box-shadow: 0px 5px 0px rgba(0, 0, 0, .2);
}

.navbar-brand {
  background: url(../img/logo.svg) no-repeat;
  text-indent: -999rem;
  height: 2rem;
  width: 12rem;
  margin-top: .4rem;
}

.navbar-toggleable-sm {
  top: 3rem;
}


.hero {
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  color: #fefefe;
  .callout{
    color: $primary;
    font-weight: bold;
  }
  p {
    background: rgba(0, 0, 0, .5);
  }
}

.spyscroll {
  position: relative;
    bottom: 3rem;
}

// cards
  .card-inverse {
    background: #333;
    i, .apama, .bigmax, .presto {
      color: $primary;

    }
    .card-title {
      margin: .5rem;
    }
    .apama {
      background: url(../img/apama.svg) no-repeat center;
      height: 3.5rem;
      width: 3rem;
      margin-top: -.5rem;
    }
    .bigmax {
      background: url(../img/bigmax.svg) no-repeat center;
      height: 3rem;
      width: 3.5rem;
      margin-top: -.3rem;
    }
    .presto {
      background: url(../img/presto.svg) no-repeat center;
      height: 2.5rem;
      width: 3.5rem;
      margin-top: 0rem;
    }
  }


// buttons

.btn {
  border-radius: 0;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, .5);
  text-transform: uppercase;
  &.disabled {
    background: #ccc;
    border: 1px solid #ccc;
    &:hover {
      background: #ccc;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 0px rgba(0, 0, 0, .5);
    }
  }
  &:hover {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, .5);
  }
}

.btn-primary {
  background: $primary;
  border-color: $primary;
  color: #000;
  &:hover {
    background: darken($primary, 20);
    border-color: darken($primary, 20);
    color: #000;

  }
}

.list-group-item {
  background: #333333;
  border-color: lighten(#333, 3);
  &:first-child, &:last-child {
      border-radius: 0;
  }
}

a.list-group-item {
    color: rgb(235,235,235);
}
