
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic,300italic,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,800,800italic);

body {
  padding-top: 5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  .navbar {
    background: #fff;
    height: 5rem;
    .nav-link {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      color: #666;
      &:hover {
        color: #000;
      }
    }
    .navbar-brand {
      font-family: "Merriweather", serif;
      font-weight: 900;
      font-style: italic;
      margin-top: 1rem;
      font-size: 2.5rem;
      color: #000;
      text-indent: -999rem;
      background-image: url(/img/logo.svg);
      background-repeat: no-repeat;
      height: 3rem;
      width: 15rem;
    }
  }
  .jumbotron-fluid {
    padding: 4rem 0;
    position: relative;
    &.splash {
      background-image: url(/img/brek.jpg);
      background-size: cover;
    }
  }
}

h1, h2, h3, h4 {
  font-family: "Merriweather", serif;
  //font-style: italic;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(20, 0, 0, .5);
}
