.jumbotron.jumbotron-fluid.view-section
  .container
    h2.text-danger.m-b-lg#about The Team
    
    .col-lg-3.col-md-6.m-b-lg
      h4 Steve Lauberth
      p Director
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Dan Murphy
      p Operations Director
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Ryan Taylor
      p Operations Director
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Travis Radke
      p Lead Designer
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Charles Swazey
      p Lead Fabricator
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Alex Petrowsky
      p  Master Printer
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Amanda LaFavor
      p Graphic Designer
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Sergio Valdez
      p Producer
      
    .col-lg-3.col-md-6.m-b-lg
      h4 Armando Deleon
      p Warehouse Manager
