.jumbotron.jumbotron-fluid
  .spyscroll#contact
  .container
    .row.p-a
      .col-lg-3
        h3 We'd Love to Hear From You
        p Contact us and let's see where we can help you meet your goals when creating an event!
      .col-lg-9
        form(data-toggle='validator', role='form')
          fieldset.form-group
            label.control-label(for='inputName') Name
            input#inputName.form-control.form-control-feedback(type='text', data-error='Even Mr. T has more than two characters in his name', minlength="2", maxlength='15', placeholder='Your Name', required='')
            .help-block.with-errors

          fieldset.form-group
            label.control-label(for='inputEmail') Email
            input#inputEmail.form-control.form-control-feedback(type='email', placeholder='Email', data-error='Don\'t worry\, we won\'t SPAM ya!', required='')
            .help-block.with-errors
          fieldset.form-group
            label.control-label(for='inputEmail') Company Name
            input#inputEmail.form-control.form-control-feedback(type='text', placeholder='Company', data-error='Don\'t worry\, we won\'t SPAM ya!', required='')
            .help-block.with-errors
          fieldset.form-group
            label.control-label(for='inputEmail') What's your position with the company?
            input#inputEmail.form-control.form-control-feedback(type='text', placeholder='Title', data-error='Don\'t worry\, we won\'t SPAM ya!', required='')
            .help-block.with-errors
          fieldset.form-group
            label(for='exampleTextarea') What's your project?
            small.text-muted
              p Give us a small insight into what your needs are.
            textarea#exampleTextarea.form-control.form-control-feedback(rows='2', maxlength='200', minlength='2', data-error='At least say hello!')
            .help-block.with-errors
          fieldset.form-group
            .checkbox
              label
                input#terms(type='checkbox')
                p Want to receive updates?
              small.text-muted
                p Don't worry, we only like SPAM from a can.
          .form-group
            button.btn.btn-primary(type='submit') Let's Talk!
