.design.view-section.p-a-lg
  .container#design
      h2.m-b-md.text-danger Our Expriences
      .examples.m-b-lg
        .col-lg-6.image.example.one
        .col-lg-6.image.example.two
        .col-lg-6.image.example.three
        .col-lg-6.image.example.four
    .container.m-t
      a.btn.btn-lg.btn-danger See More Examples
      
        
