.jumbotron.jumbotron-fluid.design
  .container#design
      h2.m-b-md Have a look at some of our work!
      .examples.m-b-lg
        .col-lg-6.image.example.one
          p one
        .col-lg-6.image.example.two
          p two
        .col-lg-6.image.example.three
          p three
        .col-lg-6.image.example.four
          p four
    .container.m-t
      p.text-muted Like what you see? Contact us so we can get started on your project today!
      a.btn.btn-lg.btn-success.jumps(href="#contact") Get Started
      
        
