.jumbotron.jumbotron-fluid.view-section.m-b-0
  .container.p-a
    h2#focus.m-b-lg.text-danger Our Method
    
    
    //Card 1
    
    .col-lg-3.col-md-6
      .card.p-t
        .card-img-top.text-center
          .span.icon-pencil-ruler
        .card-block
          h4.card-title Design
          p.card-text
            | Your concept is very important to us.  We want our design to be meaningful and for your events to have a lasting impact on your audience.  We’ll work to understand and strengthen your brand identity to create a truly custom experience.  
        
          
          
    // Card 2
    
    .col-lg-3.col-md-6
      .card.p-t
        .card-img-top.text-center
          .span.icon-mouse-left
        .card-block
          h4.card-title Develop
          p.card-text
            | We’ll work with your team day-to-day to build the experience you want.  Then we’ll sharpen the focus and surpass your expectations.  Positive creative relationships with our clients make for positive and thoughtful experiences. 
        
          
    // Card 3
    
    .col-lg-3.col-md-6
      .card.p-t
        .card-img-top.text-center
          .span.icon-saw
        .card-block
          h4.card-title Fabricate
          p.card-text
            | We build our worlds in-house.  Our designs never leave our supervision.  We specialize in making mobile solutions that are easily shippable, easily tourable, deconstructable and  reconstructable.  We’re truly a one-stop event shop.
        
          
          
    // Card 4
    
    .col-lg-3.col-md-6
      .card.p-t
        .card-img-top.text-center
          .span.icon-paper-plane
        .card-block
          h4.card-title Activate
          p.card-text
            | Our team specializes in building these experiences.  We scout the venues.  We travel and manage the set.  We load into the venues or we bring the venues. We excel at executing large and small scale experiences, intercontinentally. 
        
    a.m-t.pull-right.btn.btn-lg.btn-danger.jumps(href="#contact") Tell Us About Your Project!
