.container.p-a 
  h2#focus Our Focus &amp; Methodology
  h5.text-muted Here's why we care about red phones, and why you should too:
  p Firstly, they're not as common as you think, and who knows when we'll come across more! Also, they work great in an emergency situation.
