.jumbotron.jumbotron-fluid.splash.bg-success
  .overlay
  .container
    .col-xl-5
      h1.display-2
        | We Build Experiences
      p.lead 
        | We design and develop temporary objects and spaces.  
      p 
        | We hand-make our designs in-house.  We produce and execute the events these designs are fabricated for.  Our team is dedicated to the projects we work on from concept to experience.
      a.btn.btn-success.btn-lg.jumps(href="#contact") Order a Red Phone
