#home.jumbotron.jumbotron-fluid.splash.bg-success
  .overlay
  .container
    .col-lg-12.info-box
      h1.display-2
        | We Build Experiences
      p.lead 
        | We design and develop temporary objects and spaces. We hand-make our designs in-house. We produce and execute the events these designs are fabricated for. Our team is dedicated to the projects we work on from concept to experience.
      h4.m-t-lg
        | Ready to start a project?
      a.btn.btn-success.btn-lg.m-t.jumps(href="#contact") 
        span.icon-bubble-dots 
        | Talk to a Project Planner!
