.container.open.p-b.m-b
  h2.text-center.text-danger We Build Experiences
  p.lead We design and develop temporary environments. We hand-make our designs in-house. We activate the events these designs are fabricated for. We foster these objects, environments, and interactions from concept to experience to draw people in.
  h4.p-t.lg.text-center Want to Build an Experience?
  .text-center
    a.btn.btn-lg.btn-danger.jumps(href="#contact") Start the Conversation!
