doctype html
html(lang='en')
  head
    // Required meta tags always come first
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='title', content='Contextant')
    meta(name='description', content='Welcome to the Context of Now')
    
    // Font Awesome Icons
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    
    // Google Fonts
    //- link(href='https://fonts.googleapis.com/css?family=Raleway:400,100,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,100,100italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic', rel='stylesheet', type='text/css')

    // Bootstrap CSS
    link(rel='stylesheet', href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')
    
    // favicons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='http://www.contextant.com/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='http://www.contextant.com/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='http://www.contextant.com/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='http://www.contextant.com/favicon-16x16.png', sizes='16x16')
    meta(name='application-name', content='Contextant')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='http://www.contextant.com/mstile-144x144.png')

    
    
    
  body.alt-page
    // Navigation
    include ./includes/secondary-navigation.jade
    
    .container.p-t.m-t.p-b.m-b
      .row.m-b
        .col-lg-12
          h1.p-b About Us
      .row
        .col-lg-4.col-sm-12
          a(href='#')
            img.media-object.m-b(data-src='holder.js/100px150?theme=sky', alt='Generic placeholder image')
        .col-lg-8.col-sm-12
          .media-body
            h4
              | Have a Project in Trouble?
            | We can help you right the ship, introduce proven software development practices to improve your teams productivity and ensure your project is a success. Contextant's core technical competencies are in streaming analytics, in-memory data management, performance &amp; scalability consulting, and ESB integration efforts. We also provide enterprise architecture, help companies introduce real-world agile processes, and perform project rescue for development efforts that have gone off track. 
    .jumbotron.jumbotron-fluid.hero.m-t
      .container
        h4.hidden-md-up
          | Contextant
          span.hidden-md-up.callout 
            | Leadership
        h2.hidden-sm-down.display-2 Contextant
        h1.p-b.hidden-sm-down.display-4.callout Leadership
        .row
          .col-lg-3.col-md-6.profile
            img.m-b(src='../img/profile/bart.jpg', alt='Profile Image')
            h4 Bart Federici
            h5 President/CEO
            a(href="mailto:bart@contextant.com")
              h6 bart@contextant.com
          .col-lg-3.col-md-6.profile
            img.m-b(src='../img/profile/keith.jpg', alt='Profile Image')
            h4 Keith Patel
            h5 VP/Chief Information Officer
            a(href="mailto:keith@contextant.com")
              h6 keith@contextant.com
          .col-lg-3.col-md-6.profile
            img.m-b(src='../img/profile/eric.jpg', alt='Profile Image')
            h4 Eric Farris
            h5 VP/Chief Data Solution Architect
            a(href="mailto:eric@contextant.com")
              h6 eric@contextant.com
          .col-lg-3.col-md-6.profile
            img.m-b(src='../img/profile/block.svg', alt='Profile Image')
            h5 Sales
            a(href="mailto:sales@contextant.com")
              h6 sales@contextant.com
      
    
  // Contact
  include ./includes/contact.jade      
  
        
  // jQuery first, then Bootstrap JS.
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/holder/2.8.2/holder.js ')
  script(src='../validator.js')
  script(src='../custom.js')
  script(src="//localhost:35729/livereload.js")
      
